.App {
  height: 100vh;
  background-color: #050505;
  color: white;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 20%;
}

header > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header img {
  height: 80%;
}

header img,
header h1,
header p {
  margin: 5px;
}

#soundcards {
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.soundcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  user-select: none;
  cursor: pointer;
  width: 50%;
  height: calc(100% / 3);
  background-color: lightslategray;
  color: black;
  border: 1px solid #050505;
}

.soundcard p {
  margin: 2px;
  font-size: 1.6rem;
}

.soundcard small {
  font-style: italic;
}

.soundcard:active {
  background-color: lightsteelblue;
}